/*********** 
  RESET
***********/
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html,
body {
  background-color: #2e2d2e !important;
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main.app-main {
  width: 90%;
  margin: 0 auto;
}


/*==========
Overrides
==========*/
.ui.segment {
  background: #2e2d2e;
}

/*********** 
  Home
***********/

div.banner {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  div.text-container {
    text-transform: uppercase;
  }
}

div.homepage-content-wrap {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  div.login-controller {
    max-width: 320px;
  }
  div.recent-posts {
  }
}

/*********** 
  Dashboard
***********/

ul.dash-hot-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  li {
    padding: 3px 9px;
    margin: 0px 1px;
    background-color: #61dafb;
  }
}

.hot-menu-wrap {
  margin-top: 20px;
  .tile-link-wrap {
    width: 50%;
    height: 150px;
    margin: 15px auto;
    .tile {
      width: 100%;
      height: 100%;
      background: #585858;
      color: white;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.7);
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
}

/*********** 
  Inventory
***********/
div.inventory-page {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  div.inventory-active {
    margin-top: 30px;
    div h3 {
      text-align: center;
    }
  }
}

.equipment-wrapper {
  .equipt-wrapper {
    height: 100px;
    div.equipt-icon.column {
      height: 80px;
      font-size: 10px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      .item-slot {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        padding: 5px 8px;
      }
    }
  }
}

/*********** 
  Account
***********/
.account-tab-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  .account-tab-detail {
    p,
    h3 {
      margin: 0;
    }
    p {
      opacity: 0.5;
    }
  }
}

.form-container {
  max-width: 500px;
  margin: 20px auto;
}

/*****************
  Pouch Item
*****************/
div.pouch-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  align-items: center;
  div.item-wrapper {
    position: relative;
    .pouch-item {
      width: 75px;
      height: 75px;
      background: #3a3a3a;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .info-box {
      display: none;
      position: absolute;
      top: -15px;
      right: -30px;
      border: 1px solid red;
      height: 55px;
      width: 55px;
      &.show-tab {
        display: block;
      }
    }
  }
}
