extends layout

block content
  h1= title
  p Welcome to #{title}
  form(class="form" action="/users" method="POST")
    h2 Create new user
    input(type="text" name="first_name" placeholder="First Name")
    input(type="text" name="last_name" placeholder="Last Name")
    input(type="email" name="email" placeholder="Email Address")
    input(type="password" name="password" placeholder="Password")
    button(type="submit" name="submit" value="Create user") Submit Form

  div(class="big")
    h2 GraphQL Test
    hr
    a(href='/graphql?query={todo(email:"oliver@hewy.dev"){first_name,last_name, email, password}}') GraphQL Retrieve